<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- enter the address of the account used to recieve deposits -->
    <add key= "depositAccountAddress" value="TCFOLF-TVD4OX-YTALEC-FP7M3O-GXDKOH-U3A54Z-K7T4"/>
    
    <!-- enter the key of the account that created the mosaic-->
    <add key= "secretAccountKey" value="18d1c66192a3b16059a2adcb7d30c86fc48ca7ad323d18adbcd14023f6d31ce2"/> 
    
    <!-- enter the namespace id under which the mosaic was created. 
         split root and sub domains with a period if the asset is listed under a subdomain.
         eg. "root.subdomain" -->
    <add key= "mosaicNameSpace" value="assetdistro"/>
    
    <!-- enter the mosaic ID -->
    <add key= "mosaicNameID" value="assetdistro"/>
    
    <!--/ when entering xemPerXQC value, 1000000 is equivilent to one whole xem. multiply/divide this amount accordingly.
    eg. so to send two whole units per xem deposited, enter 500000 which is half a whole XEM -->
    <add key = "xemPerMosaic" value="100000"/>  
  
  </appSettings>
</configuration>