<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- enter the address of the account used to recieve deposits -->
    <add key= "depositAccountAddress" value="TCDRO7-3FAE7V-EIEOOG-3RU52D-CFQPPO-INZDRJ-VCH6"/>
    
    <!-- enter the key of the account that created the mosaic-->
    <add key= "secretAccountKey" value="18d1c66192a3b16059a2adcb7d30c86fc48ca7ad323d18adbcd14023f6d31ce2"/> 
    
    <!-- enter the namespace id under which the mosaic was created. 
         split root and sub domains with a period if the asset is listed under a subdomain.
         eg. "root.subdomain" -->
    <add key= "mosaicNameSpace" value="assetdistro"/>
    
    <!-- enter the mosaic ID -->
    <add key= "mosaicNameID" value="assetdistro"/>
    
    <!--/ when entering xemPerMosaic value, 1000000 is equivilent to one whole xem. multiply/divide this amount accordingly.
    eg. a deposit of 5000000 micro xem is 5 xem. if the asset to be returned has a divisibility of 4 eg. 1.0000, to return 10 whole assets
    per xem, enter 1000000, which results in a payout of 50 whole assets for a deposit of 5 whole xem. -->
    <add key = "xemPerMosaic" value="10000000"/>  
  
  </appSettings>
</configuration>