<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- enter the address of the account used to recieve deposits -->
    <add key= "depositAccountAddress" value="TC657B-SD4QVH-KGFUCL-NJE34P-YRZRAA-S556BZ-AE2R"/>
    
    <!-- enter the key of the account that created the mosaic-->
    <add key= "secretAccountKey" value="7209f63d27eb23ade8e2b881f6f06b0d148a7cd489dd87980569f2bb1ae38070"/> 
    
    <!-- enter the namespace id under which the mosaic was created. 
         split root and sub domains with a period if the asset is listed under a subdomain.
         eg. "root.subdomain" -->
    <add key= "mosaicNameSpace" value="foobarr"/>
    
    <!-- enter the mosaic ID -->
    <add key= "mosaicNameID" value="carr"/>
    
    <!--/ when entering xemPerXQC value, 1000000 is equivilent to one whole xem. multiply/divide this amount accordingly.
    eg. so to send two whole units per xem deposited, enter 500000 which is half a whole XEM -->
    <add key = "xemPerMosaic" value="250000"/>  
  
  </appSettings>
</configuration>